.bg {
    /* The image used */
    background-image: url("banner01.jpg?s=5");
  
    /* Full height */
    height: 100vh; 
  
    /* Center and scale the image nicely */
    background-position:center;
    background-position-y:bottom;
    background-repeat: no-repeat;
    background-size:10000% 100%;
    background-color: #00000000;
}

.img1 {
    width : 1000%; 
    height: 1000%;
}

@media only screen and (max-width: 800px) {
    .bg {
        background-position-y:bottom;
        background-repeat: no-repeat;
        background-size:10% 700%;  
    }    
}